# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# build / cache
/.next/
/out/
/build
/coverage
*.tsbuildinfo
*.log
*.pem

# prisma generated client
/app/generated/prisma/client/

# env files (unless intentionally committed)
/.env*
.env

# IDE/system files
.DS_Store

# Vercel
.vercel

# Next.js types
next-env.d.ts
