@tailwind base;
@tailwind components;
@tailwind utilities;


 /* Custom utility classes */
@layer utilities {
  .container {
    @apply m-auto p-2 max-w-[1170px];
  }
	.container h2 {
		@apply text-2xl font-semibold py-4;
	}
	span.price-green {
		@apply text-[customGreen] font-semibold;
	}
	span.price-red {
		@apply text-[customRed] font-semibold ;
	}
	span.price-discount-gray {
		@apply text-[#999999] text-xl line-through;
	}
	div.banner-left {
		@apply max-w-[1170px] mx-auto my-6 rounded-md bg-no-repeat bg-[right_100px_top] bg-contain;
	}
	div.banner-left-content {
		@apply max-w-[300px] m-auto py-5;
	}
	div.banner-left-price {
		@apply max-w-[270px]    text-center;
	}
	div.banner-right {
		@apply max-w-[1170px]  mx-auto my-6  rounded-md bg-no-repeat bg-[left_100px_top] bg-contain;
	}
	div.banner-right-content {
		@apply max-w-[300px] py-5;
	}
	div.banner-right-price {
		@apply max-w-[270px]  py-5 text-center;
	}
	span.instock {
		@apply text-[customGreen] font-bold;
	}
	span.discount_price {
		@apply text-[customRed] font-bold;
	}
	.product_desc ul {
		@apply list-disc text-sm text-gray-500;
	}
 h1.header1 {
	@apply text-2xl font-bold mb-6;
 } 
h2.header2 {
	@apply text-lg font-semibold;
}
.p_accordion button {
	@apply px-4 py-1;
}
.p_accordion button:hover {
	@apply bg-sky-100;
}
.p_accordion button h2 {
	@apply py-2;
}
button.a_btn:hover {
	@apply bg-sky-900;
}
.border-default {
	@apply border border-gray-200 rounded-lg px-2 py-1;
}
.hover__green-white:hover {
	background-color: var(--customGreen);
	color: #ffffff;
}
}


body {
  color: var(--primary-foreground);
  background-color: var(--primary-background);
  font-family: var(--openSans), sans-serif;
}
h1 {
	font-size: 28px;
	line-height: 52px;
	font-weight: 700;
}
span#sublogo {
  font-family: var(--oswald), sans-serif;
  font-optical-sizing: auto;
}
 
div#logo {
  font-family: var(--poppins), sans-serif;
  font-optical-sizing: auto;
}
.numbers {
	font-family: var(--workSans), sans-serif;
  font-optical-sizing: auto;
}
text {
  font-family: var(--poppins), sans-serif;
  font-size: 48px;
  font-weight: 700;
  dominant-baseline: middle;
  text-anchor: middle;
}

img {
	height: auto;
 
}
 
.pointer:hover {
	cursor: pointer;
}
.contact-btn {
	font-family: var(--oswald);
	font-optical-sizing: auto;
}
.carousel div:first-child {
	align-items: center;
}
.carousel div:last-child button {
	background-color: #000;
	border-radius: 50%;

}
.carousel div:nth-last-child(2) button {
	background-color: #000;
	border-radius: 50%;

}
.carousel div:last-child {
	right: -25px;
}
.carousel div:nth-last-child(2) {
	left: -25px;
}
 
/* HTML: <div class="loader"></div> *//* HTML: <div class="loader"></div> */
.loader{
  width: 40px;
  aspect-ratio: 1;
  --c:no-repeat linear-gradient(var(--customGreen) 0 0);
  background: 
    var(--c) 0    0,
    var(--c) 0    100%, 
    var(--c) 50%  0,  
    var(--c) 50%  100%, 
    var(--c) 100% 0, 
    var(--c) 100% 100%;
  background-size: 8px 50%;
  animation: l7-0 1s infinite;
  position: relative;
  overflow: hidden;
}
.loader:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ffffff;
  top: calc(50% - 4px);
  left: -8px;
  animation: inherit;
  animation-name: l7-1;
}

@keyframes l7-0 {
 16.67% {background-size:8px 30%, 8px 30%, 8px 50%, 8px 50%, 8px 50%, 8px 50%}
 33.33% {background-size:8px 30%, 8px 30%, 8px 30%, 8px 30%, 8px 50%, 8px 50%}
 50%    {background-size:8px 30%, 8px 30%, 8px 30%, 8px 30%, 8px 30%, 8px 30%}
 66.67% {background-size:8px 50%, 8px 50%, 8px 30%, 8px 30%, 8px 30%, 8px 30%}
 83.33% {background-size:8px 50%, 8px 50%, 8px 50%, 8px 50%, 8px 30%, 8px 30%}
}

@keyframes l7-1 {
 20%  {left:0px}
 40%  {left:calc(50%  - 4px)}
 60%  {left:calc(100% - 8px)}
 80%,
 100% {left:100%}
}